<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Title pages-->
    <title>@ViewBag.Title</title>
    <!-- Icon of browser--->
    <link rel="icon" type="image/png" href="/img/Logo/@ViewBag.icon" />
    <!------------------------------------------------------------------>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">
    <!------------------------------------------------------------------>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!------------------------------------------------------------------>
    <!-- Libraries Stylesheet -->

    <link href="~/Scripts/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!------------------------------------------------------------------>
    <!-- Stylesheet -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/MyCSS_Min.css" rel="stylesheet" />
    <link href="~/Content/sidebar.css" rel="stylesheet" />

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!------------------------------------------------------------------>
    <!--------------------- emogi icon ---------------------------------->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
<body>

    @if (User.IsInRole("Admin"))
    {
        { Html.RenderPartial("_sidebar"); }
    }@if (User.IsInRole("Dealer"))
    {
        { Html.RenderPartial("_DealerSidebar"); }
    }
    @if (!User.IsInRole("Admin") && !User.IsInRole("Dealer"))
    {
        <!-- Topbar Start -->
        <!-- Topbar Start -->

        <div class="container-fluid bg-dark py-3 px-lg-5 d-none d-lg-block">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-body pr-3" href=""><i class="fas fa-phone-alt mr-2"></i>19112</a>
                        <span class="text-body">|</span>
                        <a class="text-body px-3" href=""><i class="fa fa-envelope mr-2"></i>info@example.com</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-body px-3" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-body px-3" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-body px-3" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-body px-3" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-body pl-3" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- Topbar End -->
        @*<div class="container-fluid bg-dark py-3 px-lg-5 d-none d-lg-block">
                <div class="row">
                    <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                        <div class="d-inline-flex align-items-center">
                            <a class="text-body pr-3" href=""><i class="fa fa-phone-alt mr-2"></i>19112</a>
                            <span class="text-body">|</span>
                            <a class="text-body px-3" href=""><i class="fa fa-envelope mr-2"></i>info@example.com</a>
                        </div>
                    </div>
                    <div class="col-md-6 text-center text-lg-right">
                        <div class="d-inline-flex align-items-center">
                            <a class="text-body px-3" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-body px-3" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-body px-3" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-body px-3" href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="text-body pl-3" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- Topbar End -->
        <!-- Navbar Start -->
        var action = (ViewContext.RouteData.Values["action"] ?? "").ToString().ToLower();
        <nav class=" navbar-expand-sm  sticky-top ">
            <div class="container-fluid position-relative nav-bar p-0">
                <div class="position-relative px-lg-5" style="z-index: 9; background-color: #2B2E4A;">
                    <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                        <a href="~/Home/Index/" class="navbar-brand">
                            <h1 class="text-uppercase text- mb-1">
                                <img src="~/img/Logo/Logo.png" style="width:120px; height:40px;" class="wow fadeInLeft" data-wow-delay="0.8s" />
                            </h1>
                        </a>

                        <div class="triggers text-secondary">

                            <label class="  text-center" for="popup-2"><i class="fa fa-filter text-center"></i></label>
                        </div>

                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                            <div class="navbar-nav ml-auto py-0">
                                <a href="~/Home/Index/" class="nav-item nav-link p-2 mr-3 @( action == "index" ? "active" : "") ">Home</a>
                                <div class="nav-item dropdown">
                                    @{var result = "";
                                        if (action == "cars_filter" || action == "carpricepredict") { result = "active"; } else { result = ""; }}
                                    <a href="#" class="nav-link  p-2 mr-3 dropdown-toggle @result" data-toggle="dropdown">Car</a>
                                    <div class="dropdown-menu rounded-0 m-0 badge-secondary ">
                                        <a href="~/Car_finder/Cars_filter/" class="dropdown-item  p-2 mr-3 text-light  @( action == "cars_filter" ? "active" : "")">Car Finder</a>
                                        <a href="~/Car_finder/Carpricepredict/" class="dropdown-item  p-2 mr-3 text-light @( action == "carpricepredict" ? "active" : "")">Car Price Predict</a>
                                    </div>
                                </div>
                                <div class="nav-item dropdown">
                                    @{if (action == "sellyourcar" || action == "car_for_sell") { result = "active"; } else { result = ""; }}
                                    <a href="#" class="nav-link   p-2 mr-3 dropdown-toggle @result" data-toggle="dropdown">sells</a>
                                    <div class="dropdown-menu rounded-0 m-0 badge-secondary">
                                        <a href="~/Sells/SellYourCar" class="dropdown-item  p-2 mr-3 text-light @( action == "sellyourcar" ? "active" : "")">Sell your car</a>
                                        <a href="~/Sells/Car_For_Sell" class="dropdown-item  p-2 mr-3 text-light @( action == "car_for_sell" ? "active" : "")">Cars for Sells</a>
                                    </div>
                                </div>


                                <a href="~/Home/Showroom/" class="nav-item nav-link  p-2 mr-3 @( action == "Dealars" ? "active" : "")"> Dealers</a>
                                <a href="~/Home/About/" class="nav-item nav-link  p-2 mr-3 @( action == "about" ? "active" : "")"> About</a>
                                <a href="~/Home/Contact/" class="nav-item nav-link  p-2 mr-3 @( action == "contact" ? "active" : "")">Contact</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                  
                                    <a href="~/Account/UserProfile" class="nav-item nav-link p-2"><i class="fa fa-user-circle"  tabindex="0" data-toggle="tooltip" title="Profile" style="font-size:25px"></i></a>
                                    <a href="~/Account/logout" class="nav-item nav-link p-2"><i class="fas fa-sign-out-alt" tabindex="0" data-toggle="tooltip" title="Log Out" style="font-size:25px"></i></a>
                                }
                                else
                                {
                                    <a href="~/Account/Login" class="nav-item nav-link  p-2 mr-3 @(action == "login" ? "active" : "")"><i class="fas fa-sign-in-alt" tabindex="0" data-toggle="tooltip" title="Login" style="font-size:25px"></i></a>
                                    <a href="~/Account/Registration" class="nav-item nav-link  p-2 mr-3 @( action == "registration" ? "active" : "")"><i class="fas fa-user-plus" tabindex="0" data-toggle="tooltip" title="Registration" style="font-size:25px"></i></a>}

                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </nav>
                    }



                    @*         @{Html.RenderPartial("_Account");}  *@



    <!-- Navbar End -->

    @{var sidebar = User.IsInRole("Admin") == true || User.IsInRole("Dealer") == true ? "home-section" : ""; }

    <div class="content @sidebar">

        @RenderBody()




        @*Vendor Start *@

        @if (!User.IsInRole("Admin") && !User.IsInRole("Dealer"))
        {



        }
        @*  Vendor End *@


        @*  Footer Start *@

        @if (!User.IsInRole("Dealer"))
        {

            <div class="container-fluid bg-secondary py-5 px-sm-3 px-md-5">
                <div class="row pt-5">
                    <div class="col-lg-3 col-md-6 mb-5">
                        <h4 class="text-uppercase text-light mb-4">Get In Touch</h4>
                        <p class="mb-2"><i class="fas fa-map-marker-alt text-white mr-3"></i>123 Street, New York, USA</p>
                        <p class="mb-2"><i class="fas fa-phone-alt text-white mr-3"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope text-white mr-3"></i>info@example.com</p>
                        <h6 class="text-uppercase text-white py-2">Follow Us</h6>
                        <div class="d-flex justify-content-start">
                            <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-lg btn-dark btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5">
                        <h4 class="text-uppercase text-light mb-4">Usefull Links</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Private Policy</a>
                            <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Term & Conditions</a>
                            <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>New Member Registration</a>
                            <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Affiliate Programme</a>
                            <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Return & Refund</a>
                            <a class="text-body" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Help & FQAs</a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-5">
                        <h4 class="text-uppercase text-light mb-4">Car Gallery</h4>
                        <div class="row mx-n1">
                            <div class="col-4 px-1 mb-2">
                                <a href=""><img class="w-100" src="~/img/Footer/gallery-1.jpg" alt=""></a>

                            </div>
                            <div class="col-4 px-1 mb-2">
                                <a href=""><img class="w-100" src="~/img/Footer/gallery-2.jpg" alt=""></a>

                            </div>
                            <div class="col-4 px-1 mb-2">
                                <a href=""><img class="w-100" src="~/img/Footer/gallery-3.jpg" alt=""></a>

                            </div>
                            <div class="col-4 px-1 mb-2">
                                <a href=""><img class="w-100" src="~/img/Footer/gallery-4.jpg" alt=""></a>

                            </div>
                            <div class="col-4 px-1 mb-2">
                                <a href=""><img class="w-100" src="~/img/Footer/gallery-5.jpg" alt=""></a>

                            </div>
                            <div class="col-4 px-1 mb-2">
                                <a href=""><img class="w-100" src="~/img/Footer/gallery-6.jpg" alt=""></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5">
                        <h4 class="text-uppercase text-light mb-4">Newsletter</h4>
                        <p class="mb-4 text-justify">
                            Find your ideal car with just a few clicks. By providing detailed information about each vehicle along with user reviews
                        </p>
                        <div class="w-100 mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control bg-dark border-dark" style="padding: 25px;" placeholder="Your Email">
                                <div class="input-group-append">
                                    <button class="btn btn-primary text-uppercase px-3">Sign Up</button>
                                </div>
                            </div>
                        </div>
                        @* <i>Lorem sit sed elitr sed kasd et</i>*@
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-dark py-4 px-sm-3 px-md-5">
                <p class="mb-2 text-center text-body">&copy; <a href="#">HI</a>. All Rights Reserved.</p>
                <p class="m-0 text-center text-body">Project: <a href="#"><b>B</b>eKam</a></p>
            </div>

        }
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    @if (!User.IsInRole("Admin") && !User.IsInRole("Dealer"))
    {

        <a href="#" class="btn btn-lg  btn-outline-primary btn-lg-square  back-to-top" style=" border-radius: 35px;"><i class="fa fa-arrow-circle-up "></i></a>
    }
    <!--files scripts-->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>


    <script src="~/Scripts/lib/wow/wow.min.js"></script>
    <script src="~/Scripts/lib/easing/easing.min.js"></script>
    <script src="~/Scripts/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Scripts/lib/counterup/counterup.min.js"></script>
    <script src="~/Scripts/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Scripts/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Scripts/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Scripts/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/main.js"></script>


</body>
</html>
